edge_box_mqtt_node_red_flow.txt
[{"id":"ff116c1.4ef519","type":"modbus-response","z":"9976b0c6.c13d2","name":"","registerShowMax":20,"x":403,"y":110,"wires":[]},{"id":"f4578ea2.5d2e6","type":"modbus-read","z":"9976b0c6.c13d2","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e665a9ad.015968","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":159,"y":139,"wires":[["ff116c1.4ef519","a9a486a4.5b21c8","35422be.4ab4ad4"],[]]},{"id":"a9a486a4.5b21c8","type":"debug","z":"9976b0c6.c13d2","name":"","active":false,"console":false,"complete":"false","x":379,"y":163,"wires":[]},{"id":"35422be.4ab4ad4","type":"function","z":"9976b0c6.c13d2","name":"parse holding register %MW0","func":"var variable0={payload: msg.payload[0]}\nreturn variable0;","outputs":1,"noerr":0,"x":450.5,"y":56,"wires":[["ad7f8a0f.717748","6dcfa400.05b18c","fcd93c8c.af1f1"]]},{"id":"ad7f8a0f.717748","type":"mqtt out","z":"9976b0c6.c13d2","name":"","topic":"/Nave1/tanque1/temperatura/","qos":"","retain":"","broker":"bf33268c.9b1508","x":813.5,"y":53,"wires":[]},{"id":"d5b552f7.67a5a","type":"mqtt in","z":"9976b0c6.c13d2","name":"","topic":"/Nave1/tanque1/PLCM241/consigna1","qos":"2","broker":"bf33268c.9b1508","x":256.5,"y":282,"wires":[["ea8f2ed.b5838d"]]},{"id":"ea8f2ed.b5838d","type":"modbus-write","z":"9976b0c6.c13d2","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"e665a9ad.015968","x":619.5,"y":282,"wires":[["77a1cd5a.005fc4","e5d7e739.d7f038"],[]]},{"id":"77a1cd5a.005fc4","type":"modbus-response","z":"9976b0c6.c13d2","name":"","registerShowMax":20,"x":849.5,"y":277,"wires":[]},{"id":"e5d7e739.d7f038","type":"debug","z":"9976b0c6.c13d2","name":"","active":false,"console":false,"complete":"false","x":868.5,"y":334,"wires":[]},{"id":"6dcfa400.05b18c","type":"debug","z":"9976b0c6.c13d2","name":"","active":false,"console":false,"complete":"false","x":676.5,"y":128,"wires":[]},{"id":"acc5e44a.0f0348","type":"mqtt in","z":"9976b0c6.c13d2","name":"","topic":"/Nave1/tanque1/temperatura/","qos":"2","broker":"bf33268c.9b1508","x":206.5,"y":725,"wires":[["164979af.7073e6"]]},{"id":"164979af.7073e6","type":"debug","z":"9976b0c6.c13d2","name":"recepcion mqtt de mosquitto","active":false,"console":false,"complete":"payload","x":681.5,"y":724,"wires":[]},{"id":"fcd93c8c.af1f1","type":"ui_gauge","z":"9976b0c6.c13d2","name":"","group":"3e59b79e.e75598","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":662.5,"y":188,"wires":[]},{"id":"e7bb601a.6ee53","type":"mqtt in","z":"9976b0c6.c13d2","name":"","topic":"/Nave1/tanque1/PLCM241/pump0","qos":"2","broker":"bf33268c.9b1508","x":187,"y":411,"wires":[["3679896e.1f17d6","5ff912a8.8d5aec"]]},{"id":"6123d6f5.21ebf8","type":"modbus-write","z":"9976b0c6.c13d2","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"e665a9ad.015968","x":692,"y":413,"wires":[["baa53678.c0e248","3a7637c4.a6ff08"],[]]},{"id":"baa53678.c0e248","type":"modbus-response","z":"9976b0c6.c13d2","name":"","registerShowMax":20,"x":906,"y":408,"wires":[]},{"id":"3a7637c4.a6ff08","type":"debug","z":"9976b0c6.c13d2","name":"","active":false,"console":false,"complete":"false","x":912,"y":470,"wires":[]},{"id":"3679896e.1f17d6","type":"debug","z":"9976b0c6.c13d2","name":"pump0","active":true,"console":"false","complete":"payload","x":418,"y":353,"wires":[]},{"id":"5ff912a8.8d5aec","type":"function","z":"9976b0c6.c13d2","name":"code to binary","func":"var var3_PLC=global.get('var3_PLC') || 0;\nvar argumento = msg.payload;\nif (argumento ==\"True\")\nmsg.payload = var3_PLC +1 ;\nelse\nif (argumento ==\"False\")\nmsg.payload = var3_PLC - 1 ;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":458,"y":411,"wires":[["6123d6f5.21ebf8"]]},{"id":"3623e8c0.106b58","type":"function","z":"9976b0c6.c13d2","name":"Update PLC status","func":"var3_PLC = msg.payload[0];\nglobal.set('var3_PLC',var3_PLC);\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":603,"wires":[["a53d76c8.99b218"]]},{"id":"46212060.b1bc2","type":"modbus-read","z":"9976b0c6.c13d2","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"3","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e665a9ad.015968","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":636,"wires":[["870341ee.7c5ef","3623e8c0.106b58"],[]]},{"id":"870341ee.7c5ef","type":"modbus-response","z":"9976b0c6.c13d2","name":"","registerShowMax":20,"x":392,"y":654,"wires":[]},{"id":"a53d76c8.99b218","type":"debug","z":"9976b0c6.c13d2","name":"","active":false,"console":"false","complete":"false","x":626,"y":603,"wires":[]},{"id":"21120a07.374616","type":"comment","z":"9976b0c6.c13d2","name":"Only one digital output","info":"","x":163,"y":360,"wires":[]},{"id":"2fed4a7f.8a9cc6","type":"mqtt in","z":"9976b0c6.c13d2","name":"","topic":"/Nave1/tanque1/PLCM241/pump1","qos":"2","broker":"bf33268c.9b1508","x":188,"y":468,"wires":[["75e76bc3.bdf5b4"]]},{"id":"75e76bc3.bdf5b4","type":"function","z":"9976b0c6.c13d2","name":"code to binary","func":"var var3_PLC=global.get('var3_PLC') || 0;\nvar argumento = msg.payload;\nif (argumento ==\"True\")\nmsg.payload = var3_PLC + 2 ;\nelse\nif (argumento ==\"False\")\nmsg.payload = var3_PLC - 2 ;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":454,"y":467,"wires":[["6123d6f5.21ebf8"]]},{"id":"5245ffa4.9ecc3","type":"mqtt in","z":"9976b0c6.c13d2","name":"","topic":"/Nave1/tanque1/PLCM241/pump2","qos":"2","broker":"bf33268c.9b1508","x":189,"y":516,"wires":[["675e8f99.a310a"]]},{"id":"675e8f99.a310a","type":"function","z":"9976b0c6.c13d2","name":"code to binary","func":"var var3_PLC=global.get('var3_PLC') || 0;\nvar argumento = msg.payload;\nif (argumento ==\"True\")\nmsg.payload = var3_PLC + 4 ;\nelse\nif (argumento ==\"False\")\nmsg.payload = var3_PLC - 4 ;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":454,"y":517,"wires":[["6123d6f5.21ebf8"]]},{"id":"5e9ea00.501446","type":"inject","z":"9976b0c6.c13d2","name":"Reset outputs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":266,"y":559,"wires":[["822a3913.1c6188"]]},{"id":"822a3913.1c6188","type":"function","z":"9976b0c6.c13d2","name":"code to binary","func":"\nmsg.payload = 0 ;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":453,"y":559,"wires":[["6123d6f5.21ebf8"]]},{"id":"e665a9ad.015968","type":"modbus-client","z":"9976b0c6.c13d2","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.58","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"bf33268c.9b1508","type":"mqtt-broker","z":"9976b0c6.c13d2","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3e59b79e.e75598","type":"ui_group","z":"","name":"atv","tab":"4643735a.582fac","disp":true,"width":"6","collapse":false},{"id":"4643735a.582fac","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]